%body
  .chat
    = render 'layouts/chat_side'
    .chat-main
      .chat-header.clearfix
        .chat-header--left
          %h2
            = @group.name
          %p.chat-header__users
            Menbers:
            %span.chat-header__user
              = @group.users.pluck(:name).join(' ')
        .chat-header--right
          = link_to "Edit", edit_group_path(@group) ,class: "chat-header--right__edit-btn"
      .chat-body
        %ul.chat-messages
          = render 'layouts/chat_message'
      .chat-footer
        = render 'layouts/new_message_form'
